
<%- include("../partials/title") %>
</head>
  <body>
    <%- include("../partials/header") %>
    <h1 class="py-4 text-center text-3xl">Book Added Successfully</h1>
    <a href="/">Home</a>

  </body>
</html>
