<header>
  <div class="logo">
    <h1>Book website</h1>
  </div>
  <div>
    <p><a href="/home">Home</a></p>
    <p><a href="/books">Books</a></p>
    <p><a href="/login">Services</a></p>
  </div>
  <div>
    <button>Sign Up</button>
    <button>Login</button>
  </div>
</header>
