
<%- include("partials/title") %>
</head>
  <body>
    <%- include("partials/header") %>
    <h1 class="py-4 text-center text-3xl">Add Book</h1>
    <form action="/add-book" method="POST">
      <input type="text" placeholder="Enter Book Name" name="name"  />
      <input type="text" placeholder="Book Author" name="author" />
      <input type="text" placeholder="Book Image Url" name="image" />
      <input type="number" placeholder="Book Price" name="price"  />
      <input type="submit" value="Submit" class="button" />
    </form>
  </body>
</html>
