<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
  </head>
  <body>
    <h1>Add Book</h1>
    <form action="/contact" method="POST">
      <input type="text" placeholder="Enter Book Name" name="bookname" />
      <input type="text" placeholder="Book Author" name="author"/>
      <input type="number" placeholder="Book Price" name="price" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
