<header>
  <nav
    class=" p-4 text-white flex justify-center gap-10 text-sm bg-gray-800"
  >
    <a href="/" class="<%= currentPage === 'Home' ? 'bg-gray-400  rounded-sm transition-all ease-in duration-300' : 'bg-gray-800 ' %> py-1 px-3">Home</a>
    <a href="/add-task" class="<%= currentPage === 'Add Task' ? 'bg-gray-400 rounded-sm transition-all ease-in duration-300' : 'bg-gray-800'%> py-1 px-3">Add Task</a>
  </nav>
</header>
