<header>
  <nav
    class=" p-4 text-white flex justify-center gap-10 text-sm bg-gray-800"
  >
    <a href="/" class="<%= currentPage === 'Home' ? 'bg-gray-400 py-1 px-3 rounded-sm' : 'bg-gray-800'%>">Home</a>
    <a href="/add-task" class="<%= currentPage === 'Add Task' ? 'bg-gray-400 py-1 px-3 rounded-sm' : 'bg-gray-800'%>">Add Task</a>
  </nav>
</header>
