<%- include('partials/head') %>
  </head>
  <body >
    <%- include('partials/header') %>
    <h2 class="text-2xl flex justify-center items-center h-screen ">Book Added Successfully</h2>
    <button class="button" onclick="window.location.href ='/'">Return to home</button>
  </body>
</html>
